<ul class="item-color-list">
  <li class="color-swatch">
    <img src="../../images/24140_155.jpg" title="Black">
  </li>
  <li class="color-swatch">
    <img src="../../images/24140_ANDB.jpg" title="Andes Blue">
  </li>
  <li class="color-swatch">
    <img src="../../images/24140_CHRT(1).jpg" title="Chartreuse" class="is-active">
  </li>
  <li class="color-swatch">
    <img src="../../images/24140_NVYB.jpg" title="Navy Blue">
  </li>
  <li class="color-swatch">
    <img src="../../images/24140_TRLG.jpg" title="Trial Green">
  </li>
</ul>