<ul class="item-color-list">
  <li class="color-swatch">
    <img src="{{img.color-swatch-1.src}}" title="{{img.color-swatch-1.title}}">
  </li>
  <li class="color-swatch">
    <img src="{{img.color-swatch-2.src}}" title="{{img.color-swatch-2.title}}">
  </li>
  <li class="color-swatch">
    <img src="{{img.color-swatch-3.src}}" title="{{img.color-swatch-3.title}}" class="is-active">
  </li>
  <li class="color-swatch">
    <img src="{{img.color-swatch-4.src}}" title="{{img.color-swatch-4.title}}">
  </li>
  <li class="color-swatch">
    <img src="{{img.color-swatch-5.src}}" title="{{img.color-swatch-5.title}}">
  </li>
</ul>