**/node_modules/
.DS_Store
**/source/
config.ini
**/latest-change.txt
**/patternlab.json
**/.sass-cache/*
**/sass-cache
**/source/images/Thumbs.db
**/public/styleguide/css/static.css.map
**/public/styleguide/css/styleguide-specific.css.map
**/public/styleguide/csscd/styleguide.css.map