my-grid/node_modules/
.DS_Store
my-grid/source/
config.ini
my-grid/latest-change.txt
my-grid/patternlab.json
my-grid/.sass-cache/*
my-grid/sass-cache
my-grid/source/images/Thumbs.db
my-grid/public/styleguide/css/static.css.map
my-grid/public/styleguide/css/styleguide-specific.css.map
my-grid/public/styleguide/csscd/styleguide.css.map