&lt;li class=&quot;pure-u-xl-1-6 pure-u-lg-1-4 pure-u-md-1-3 pure-u-sm-1&quot;&gt;&NewLine;  &lt;section class=&quot;item&quot;&gt;&NewLine;    {{&gt; atoms-product-image}}&NewLine;    {{&gt; molecules-color-swatch-list}}&NewLine;    {{&gt; molecules-product-text}}&NewLine;  &lt;/section&gt;&NewLine;&lt;/li&gt;