aside {
  max-width: 30em;
}
.sidebar-header {
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 1.25em;
}
.sidebar-breadcrumbs a {
  padding-left: 1em;
  color: $primary-color;
  &:before {
    content: "\78";
    padding-bottom: 0.25em;
    color: $black;
    padding-right: 0.5em;
  }
}
.sidebar-nav {
  color: $light-dim-grey;
  font-weight: 400;
}
.sidebar-divider {
  margin: 1.5em;
}
.categories, .sports li {
  font-size: $font-size-sm;
  padding-left: 2.5em;
}
.category-title {
  font-size: $font-size-sm;
  color: $dim-grey;
  text-transform: uppercase;
  padding-left: 2.5em;
}