<div class="sidebar-wrapper">
  <aside>
    <h1 class="sidebar-header">Men's Jackets, Coats &amp; Parkas</h1>
    <ul class="sidebar-breadcrumbs">
      <li><a href="#" title="Men's">Men's</a></li>
      <li><a href="#" title="Jackets">Jackets</a></li>
    </ul>
    <hr class="sidebar-divider"/>
    <ul class="categories">
      <li><a href="#" title="Waterproof">Waterproof</a></li>
      <li><a href="#" title="Soft Shell">Soft Shell</a></li>
      <li><a href="#" title="Down">Down</a></li>
      <li><a href="#" title="Synthetic">Synthetic</a></li>
      <li><a href="#" title="Fleece">Fleece</a></li>
      <li><a href="#" title="Regulator Fleece">Regulator Fleece</a></li>
      <li><a href="#" title="Yoga">Yoga</a></li>
      <li><a href="#" title="Casual/Lifestyle">Casual/Lifestyle</a></li>
    </ul>
    <hr class="sidebar-divider"/>
    <h2 class="category-title">Designed For</h2>
    <ul class="categories">
      <li><a href="#" title="Climbing">Climbing</a></li>
      <li><a href="#" title="Ski/Snowboarding">Ski/Snowboarding</a></li>
      <li><a href="#" title="Surfing">Surfing</a></li>
      <li><a href="#" title="Fly Fishing">Fly Fishing</a></li>
      <li><a href="#" title="Trail Running">Trail Running</a></li>
    </ul>
  </aside>
</div>