&lt;li class=&quot;large-3 medium-4 small-12 left&quot;&gt;&NewLine;  &lt;section class=&quot;item&quot;&gt;&NewLine;    {{&gt; atoms-product-image}}&NewLine;    {{&gt; molecules-color-swatch-list}}&NewLine;    {{&gt; molecules-product-text}}&NewLine;  &lt;/section&gt;&NewLine;&lt;/li&gt;