&lt;main&gt;&NewLine;   &lt;div class=&quot;main-wrapper&quot;&gt;&NewLine;    &lt;ul class=&quot;product-grid&quot;&gt;&NewLine;      {{&gt; organisms-product-item}}&NewLine;      {{&gt; organisms-product-item}}&NewLine;      {{&gt; organisms-product-item}}&NewLine;      {{&gt; organisms-product-item}}&NewLine;      {{&gt; organisms-product-item}}&NewLine;      {{&gt; organisms-product-item}}&NewLine;      {{&gt; organisms-product-item}}&NewLine;      {{&gt; organisms-product-item}}&NewLine;      {{&gt; organisms-product-item}}&NewLine;      {{&gt; organisms-product-item}}&NewLine;      {{&gt; organisms-product-item}}&NewLine;      {{&gt; organisms-product-item}}&NewLine;    &lt;/ul&gt;&NewLine;  &lt;/div&gt;&NewLine;&lt;/main&gt;