<main>
   <div class="main-wrapper">
    <ul class="product-grid">
      {{> organisms-product-item}}
      {{> organisms-product-item}}
      {{> organisms-product-item}}
      {{> organisms-product-item}}
      {{> organisms-product-item}}
      {{> organisms-product-item}}
      {{> organisms-product-item}}
      {{> organisms-product-item}}
      {{> organisms-product-item}}
      {{> organisms-product-item}}
      {{> organisms-product-item}}
      {{> organisms-product-item}}
    </ul>
  </div>
</main>