<fieldset>
    <div class="field-container">
        <label for="select" class="is-vishidden">Select</label>
        <select id="select" class="sort-results">
            <optgroup label="Option Group">
                <option>Option One</option>
                <option>Option Two</option>
                <option>Option Three</option>
            </optgroup>
        </select>
    </div>
</fieldset>