<div class="page" id="page">
	{{> organisms-header }}
  <div class="subnav-wrapper">
    {{> molecules-breadcrumbs}}
  </div>
  <main>
    {{> organisms-sidebar-navigation }}
    <div class="main-wrapper">
      {{> atoms-landscape-16x9 }}
      {{> atoms-select-menu }}
      <ul class="product-grid">
        {{> organisms-product-item}}
        {{> organisms-product-item}}
        {{> organisms-product-item}}
        {{> organisms-product-item}}
        {{> organisms-product-item}}
        {{> organisms-product-item}}
        {{> organisms-product-item}}
        {{> organisms-product-item}}
        {{> organisms-product-item}}
        {{> organisms-product-item}}
        {{> organisms-product-item}}
        {{> organisms-product-item}}
      </ul>
    </div>
  </main>
  {{> organisms-footer }}
</div>