&lt;ul class=&quot;product-grid&quot;&gt;&NewLine;  &lt;li class=&quot;product-grid__item&quot;&gt;&NewLine;    &lt;section class=&quot;item&quot;&gt;&NewLine;      {{&gt; atoms-product-image}}&NewLine;      {{&gt; molecules-color-swatch-list}}&NewLine;      {{&gt; molecules-product-text}}&NewLine;    &lt;/section&gt;&NewLine;  &lt;/li&gt;&NewLine;&lt;/ul&gt;