<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #f26525;"></span>
		<span class="sg-label">#f26525</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #3e2f80;"></span>
    <span class="sg-label">#3E2F80</span>
  </li>
	<li>
		<span class="sg-swatch" style="background: #000;"></span>
		<span class="sg-label">#000</span>
	</li>
  <li>
    <span class="sg-swatch" style="background: #555;"></span>
    <span class="sg-label">#555</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #AAA;"></span>
    <span class="sg-label">#AAA</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #CCC;"></span>
    <span class="sg-label">#CCC</span>
  </li>
</ul>