<li class="pure-u-xl-1-6 pure-u-lg-1-4 pure-u-md-1-3 pure-u-sm-1">
  <section class="item">
    {{> atoms-product-image}}
    {{> molecules-color-swatch-list}}
    {{> molecules-product-text}}
  </section>
</li>