<ul class="product-grid">
  <li class="product-grid__item">
    <section class="item">
      {{> atoms-product-image}}
      {{> molecules-color-swatch-list}}
      {{> molecules-product-text}}
    </section>
  </li>
</ul>