/* Links */ 
a {
	color: $black;
	text-decoration: none;
	outline: 0;
	
	&:hover, &:focus {
		color: $primary-color;
	}
}

.product-title {
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: 900;
  margin: 0.5em 0 0;
  text-decoration: none;
  color: #000;
  &:hover {
    color: $primary-color;
  }
}