&lt;ul class=&quot;item-color-list&quot;&gt;&NewLine;  &lt;li class=&quot;color-swatch&quot;&gt;&NewLine;    &lt;img src=&quot;{{img.color-swatch-1.src}}&quot; title=&quot;{{img.color-swatch-1.title}}&quot; class=&quot;is-active&quot;&gt;&NewLine;  &lt;/li&gt;&NewLine;&lt;/ul&gt;