&lt;ul class=&quot;item-color-list&quot;&gt;&NewLine;  &lt;li class=&quot;color-swatch&quot;&gt;&NewLine;    &lt;img src=&quot;../../images/24140_CHRT(1).jpg&quot; title=&quot;Black&quot; class=&quot;is-active&quot;&gt;&NewLine;  &lt;/li&gt;&NewLine;&lt;/ul&gt;